* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book {
    background-color: rgb(183, 166, 116);
    margin: 1rem;
}

.title {
    text-align: center;
}

.best-sellers {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}